body, html {
  height: 100%;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p, body {
  font-size: 18px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h3{
  font-size: 30px;
  text-align: center;
  position: relative;
padding: 0.5em;
background: #a6d3c8;
color: white;
}

a{ text-decoration: none; }
a:link{ color: #fff; }
a:visited { color: #fff; }
a:active { color: #fff; }



ul, ol {
  background: #f1f8ff;
  border-radius :8px;/*角の丸み*/
  box-shadow :0px 0px 5px silver;/*5px=影の広がり具合*/
  padding: 0.5em 0.5em 0.5em 2em;
}
ul li, ol li {
  line-height: 1.5;
  padding: 0.5em 0;
}
.toppage-info{
  width: 60vw;
  margin: 0 auto;
}

.container {
  padding: 0%;
  width: 100vw;
}

.content {
  padding: 0;
}

/*------サイドバー設定開始------*/
.side__header{
  height: 5vh;
}

.side {
  position: fixed;
  height: 100vh;
  font-size: 16px;
  float: right;
  right: 0;
  top: 0;
  width: 240px;
  height: 100%;
  color: #fff;
  background: #3F4652;
  z-index: 1;
}

.side__inner{
  line-height: 50px;
}

.createbutton{
  width: 90%;
  color: #fff;
  display: inline-block;
  margin: 10px auto;
  text-align: center;
  margin-left: 17px;
  background: #99C432;/*背景色*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
  border-bottom: solid 2px #99C999;
  border-radius: 4px;
  font-weight: bold;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}
.createbutton:hover{
  background: #99Cf32;
}

.side__list{
  width:240px;
}
.side__list:hover{
  background: #363D47;
  width: 240px;
}

.side__footercontent{
  position: fixed;
  bottom: 10px;
  font-size: 20px;
}

.side__menu--link{
  padding-left: 20px;
}

.logo{
  padding: 30px 0 0 60px;
  font-size:30px ;
}
/*------サイドバー設定終了------*/

.main__content{
  overflow-x : hidden;
}

.main {
  width: calc(100% - 240px);
  float: left;
  min-height: 1000px;
  margin-right: 10px;
  background: #F8F9F9;
}

.main__head{
  height: 200px;
  background: linear-gradient(-135deg, #26BACF, #7842E5) fixed;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 200px;
  white-space: nowrap
}

/*-------画像スライダー開始---------*/
.slider-wrapper {
  text-align: center;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.slider {
  width: 2000px;
  -webkit-overflow-scrolling: touch;
}

.slider-wrapper::-webkit-scrollbar {
  display: none;
}

.unit {
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 0 0 5px;
  background: #EFEFEF;
  display: inline-block;
}

.unit:first-child {
  margin: 0;
}

.img_unit{
  width: 200px;  /* トリミングしたい幅 */
  height: 200px;  /* トリミングしたい高さ */
  overflow: hidden;
  position: relative;
  float: left;
  border: 3px solid #F8Ffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.img_unit img{
  position: absolute;
  padding-top: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.img_unit img:hover{
 max-width: 90%;
 max-height: 90%;
}

.img_unit a{
  color: black;
}
/*-------画像スライダー終了---------*/

/*------userの作成したデザイン一覧のcss開始------*/
.design__content{
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.user__design{
  min-width: 200px;
  width: 30%;
}

.user__design--unit{
  width: 200px;  /* トリミングしたい幅 */
  height: 200px;  /* トリミングしたい高さ */
  overflow: hidden;
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.user__design--unit img{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
/*------userの作成したデザイン一覧のcss終了------*/


/*------トップページヘッダー------*/
.header__title{
  font-size: 50px;
  margin-right: 40px;
}


.header__bar{
  height: 50px;
  background: linear-gradient(-135deg, #26BACF, #7842E5) fixed;
  color: #fff;
  font-size: 30px;
  white-space: nowrap;
  z-index: 2;
}


